@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --beje: #EFECE3;
    --azul-bebe: #8FABD4;
    --azul: #4A70A9;
    --preto: #000000;
}


*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--beje);
    flex-direction: column;
        font-family: "Jost", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
}

.lado-direito h1, .lado-esquerdo h1{
    font-size: 45px;
}

.container{
    display: flex;
    position: relative;
    height: 35rem;
    width: 70rem;

    margin-bottom: 2rem;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    background-color: rgb(250, 250, 250);

    justify-content: start;
    align-items: center;
    flex-direction: row;
    z-index: 2;

    box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* ======= PARTE QUE DESLIZA LA =======  */

.slin{
    display: flex;
    position: absolute;
    z-index: 2;
    right: 0px;
    background-color: var(--azul);
    height: 100%;
    width: 50%;
    border-radius: 80px 0px 0px 80px;
    gap: 20px;

    align-items: center;
    justify-content: center;
    flex-direction: column;

    transition: all 0.9s ease-in-out;
}

.slin-rigth{
    transform: translateX(-100%) !important;
    border-radius: 0px 80px 80px 0px !important;
    transition: all 0.9s ease-in-out;
}

.slin h1{
    color: rgb(250, 250, 250);
}

.slin p {
    color: rgb(250, 250, 250);
    font-size: 18px;
    margin: 0px 40px 0px;
}

.slin button{
    height: 47px;
    width: 160px;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 600;

    background-color: var(--azul);
    border: none;
    color:rgb(250, 250, 250);

    border: 1px solid rgb(250, 250, 250);
    border-bottom: 4px solid rgb(250, 250, 250);
    border-right: 4px solid rgb(250, 250, 250);

    transition: all 0.4s ease-out;
}

.slin button:hover{
    background-color: rgb(250, 250, 250);
    color: var(--azul);
}

/* ======= LADO ESQUERDO =======  */

.lado-esquerdo{
    display: flex;
    flex: 50%;
    height: 100%;

    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lado-esquerdo h1{
    font-size: 40px;
    color: var(--azul);
    margin-top: -40px;
}

input{
    height: 2.3rem;
    width: 18.7rem;
    margin-top: 20px;
    font-size: 16px;
    padding-left: 7px;

    border: none;
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
    outline: none;
}

::-webkit-input-placeholder{
    color: rgba(0, 0, 0, 0.247);
    font-size: 13px;
}

.btn-esquerdo{
    margin-top: 18px;
    height: 2.8rem;
    width: 7rem;
    border-radius: 7px;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 1px;

    background-color: rgb(250, 250, 250);
    border: none;
    color: var(--azul);

    border: 1px solid var(--azul);
    border-bottom: 4px solid var(--azul);
    border-right: 4px solid var(--azul);

    transition: all 0.4s ease-out;
}

.btn-esquerdo:hover{
    background-color: var(--azul);
    border: none;
    color: rgb(250, 250, 250);

    border: 1px solid var(--azul);
    border-bottom: 4px solid var(--azul);
    border-right: 4px solid var(--azul);
}

/* ======= LADO DIREITO  =======  */

.lado-direito{
    display: flex;
    flex: 50%;
    height: 100%;

    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 7px;
}

.lado-direito button{
    width: 9rem;
}

.lado-direito h1{
    color: var(--azul);
}


/*
    codigo para ir ao lado

    transform: translate(100px);
    transition: 2s;

*/